/* Write your CSS here */
.app-li-con {
  width: 150px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 150px;
}

.app-img {
  width: 50%;
}
.app-name {
  font-family: 'Bree Serif';
  font-size: 15px;
}
